#page-create-point {
    /* Alinhamento de caixa (pelo lado de fora)*/
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-create-point header {
    display: flex;
    justify-content: space-between; /* joga cada um pra um lado (lateral) */
    align-items: center;
    margin-top: 48px;
}

#page-create-point header a {
    color: var(--title-color); 
    font-weight: bold;

    display: flex;
    align-items: center;
}

#page-create-point header a span {
    background-image: url('../assets/arrow-left.svg');
    
    margin-right: 16px;
    display: flex;

    height: 20px;
    width: 24px;

}

form {
    background-color: white;
 
    /* preenchimento da box(form) */
    padding: 64px; /* O padding aumenta o tamanho da box naturalmente
                        junto da tag o max-widht porque ele entende que 
                        o padding vem depois da borda, então colocar
                        a tag border-box, faz com que o padding seja
                        jogado para trás e não exeda o limite da caixa
                        estabelecido pelo max-width */
    margin: 80px auto;
    
    border-radius: 8px;

    max-width: 700px;

 

}

form h1{
    font-size: 36px;
}

form fieldset {
    margin-top: 64px;
    border: 0;
}

form legend {
    margin-bottom: 40px;
}

form legend h2 {
    font-size: 24px;
}

form .field {
    flex: 1; 
    display: flex;
    flex-direction: column;

    margin-bottom: 24px;
}

form .field-group {
    display: flex;
}

form input,
form select {
    background-color: #f0f0f5;

    border: 0;
    padding: 16px 24px;
    font-size: 16px;

    border-radius: 8px;

    /* outline: none */
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form labe {
    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field { /* resolver caso de dois field grudados lado a lado
                                       colocando uma margem a esquerda */
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 56px;

    background-color: var(--primary-color);
    border-radius: 8px;
    
    color: white;  /* cor da fonte dentro do botão */
    font-weight: bold;
    font-size: 16px;

    border: 0; /* retira a borda preta do botão */
   
    margin-top: 40px;

    transition: background-color 400ms;
}

form button:hover {
    background-color: #2fb86e;
}